*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.tracked.json
.project
.pydevproject
.settings/
pyvenv.cfg
bin/
buildout-cache/
develop-eggs/
include/
lib/
parts/
src/*
!src/collective
var/
.coverage
htmlcov/
*~
local/
.idea/